
.admin-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.admin-box {
  background: #fff;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.admin-box h1 {
  margin-bottom: 25px;
  color: #333;
  font-size: 26px;
}


.admin-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}


.admin-input:focus {
  border-color: #2a5298;
  outline: none;
  box-shadow: 0 0 5px rgba(42, 82, 152, 0.5);
}


.admin-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #2a5298;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}


.admin-btn:hover {
  background: #1e3c72;
  transform: scale(1.03);
}


@media (max-width: 400px) {
  .admin-box {
    width: 90%;
    padding: 25px;
  }
}