.manage-container {
  width: 80%;
  margin: 40px auto;
}

.manage-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-table th {
  background-color: #f4f4f4;
}

.edit-btn {
  background: rgb(139, 131, 116);
  border: none;
  padding: 6px 12px;
  margin-right: 5px;
  cursor: pointer;
  color: white;
}

.delete-btn {
  background: red;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
}